# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Nix
result
result-*
.direnv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

.ruff_cache
